&__navigation{
    width: 100%;
    font-size: 30px; 
    text-align: center;
    &__description{
        opacity: 0.6;
        font-size: 30px;
        width: 80%;
        margin: 0 auto 40px auto;
    }
    &__button{
        display: flex;
        opacity: 0.9;
        height: 75px;
        width:50%;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 40px;
        margin: 0 auto 70px auto;
        box-shadow: 0px 5px 5px 1px rgba(207,203,203,0.75);
        background-image: linear-gradient(#FF79DA, #9356DC);
        p{
            font-size: 25px;
        }
    }
} 