&__navigation{
    width: 100%;
    font-size: 1em;
    &__button{
        display: flex;
        opacity: 0.9;
        height: 60px;
        width:70%;
        max-width: 300px;
        justify-content: center;
        align-items: center;      
        margin: 0 auto 60px auto;
        @include button;
    }
}

@media screen and (min-width:520px) {
    &__navigation{
        width: 85%;
        font-size: 1.3em;
    }
}