@import "../utils/_mixin.scss";

&__navigation{
    width: 100%;
    text-align: center;
    &__description{
        opacity: 0.7;
        font-size: 1em;
        width: 95%;
        margin: 0 auto 40px auto;
    }
    &__button{
        display: flex;
        opacity: 0.9;
        height: 8vh;
        width:70%;
        justify-content: center;
        align-items: center;      
        margin: 0 auto 60px auto;
        @include button;
        p{
            font-size: 1em;
        }
    }
}