.restaurants{
    background-color: lighten($color: #DEEBFF, $amount: 3.5%);
    &__header{
        justify-content: left;
    }
    &__article{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;  
        @import "../components/card";
        .fa-heart{
            right: 45px;
            bottom:44px;
        }
    }
}