@import "../layouts/header";
header{
    align-items: center;
    position: relative;
    .fa-arrow-left{
        position: absolute;
        font-size: 24px;
        left: 30px;
        top: 18px;
        opacity: 0.77;
    }
}