.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color: #DEEBFF, $amount: 3.5%);
    @import "../components/position";
    @import "../components/navigation";     
}