footer{
    background-color: lighten(black,20%);
    color: white;
    height: 250px;
    padding-top: 30px;
    padding-left: 7%;
    mark{
        color: white;
        font-weight: normal;
    }
    h2{
        margin-top: 0;
        font-size: 27px;
    }
    li:first-child{
        margin-left: 6px;
    }
    li{
        margin-bottom: 10px;
        display: flex;
        font-size: 23px;
        span{
            margin-right: 14px;
            font-size: 16px;
            margin-top: 3px;
        }
        

    }
}