@import "./base/_base";
@import "./utils/variables";

h1{
    width: 63%;
    text-align: center;
    font-size: 34px;
    text-align: center;
    margin: 50px auto 20px auto;
}

h2{
    font-size: 32px;
    width: 60%;
    margin-left: 8%;
    margin-bottom: 30px;
    margin-top: 70px;
}

h3
{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 25px;
}

@media screen and (max-width: 768px){
    @import "./layouts/header";
    @import "./pages/description";
    // Section fonctionnement mobile
    @import "./pages/working";
    // Section article mobile
    @import "./pages/article";
    @import "./layouts/footer";
}



